.myimage{
  width:20rem;
  height: 20rem;
  border-radius: 10rem 1rem 10rem 1rem;
   margin-top: 2rem;
   margin-left: 20rem;

}
.title ,.description,p{
  margin-left: 25rem;
  margin-top: 1rem;
}
 button{
  margin-left: 27rem;
  margin-top: 2rem;
  border:1rem inset rgb(243, 26, 26);
  border-width: .3rem;
  border-radius:3rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: blue;
  
 }

 .title,.description{ 
  font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 1rem;
   word-spacing: 0.3rem;
  }
 button:hover{
cursor: pointer;
padding-left:1rem;
background-color: rgb(233, 247, 39);
/*horizantal vertical blur spread*/
box-shadow:1rem 1rem 1rem rgb(197, 20, 20);
border-width: .2em;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
text-transform: uppercase;
 }